{:secrets #include #join [#env HOME "/.secrets.edn"]
 :server {:application-name "TODO api" 
          :port 8000}
 :db {:name "todos"
      :user #ref [:secrets :db-user]
      :password #ref [:secrets :db-password]}}